{% extends 'layout.html' %} {%block body%}
<div class="jumbotron text-center">
	<h1>Rendered using flask</h1>
	<p class="lead">
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem eius quo
		ab praesentium pariatur voluptatum nam cumque alias laudantium
		reprehenderit, saepe quas est. Adipisci ab vero, possimus odit enim illo.
	</p>
	{% if session.logged_in == NULL %}
	<a href="/register" class="btn btn-primary btn-lg">Register</a>
	<a href="/login" class="btn btn-success btn-lg">Login</a>
	{% endif %}
</div>
{%endblock%}
